@media print {
	#addResp {
		display: none;
	}

	h5 {
		font-size: 2em;
		text-align: center;
	}

	p {
		font-size: 1.15em;
		text-align: left;
	}

	tr {
		border: 2px solid black;
		box-shadow: none;
	}

	.row>div:nth-child(2) {
		background-color: #fff;
		border: 1px solid black;
		box-shadow: none;
	}


	@page {
		size: A4;
		margin: 1cm;
	}
}

*:focus {
	outline: 2px solid red !important;
}

.row>div {
	text-align: center;
}

.row>div>p {
	margin: 0;
}

.row>div:nth-child(2) {
	background-color: lightgray;
}