@media print and (min-width: 800px) {
  .container {
    border: solid 1px black;
  }
}

.row > div{
  text-align: center;
}

.row > div > p{
  margin: 0;
}

.row > div:nth-child(2){
  background-color: lightgray;
}

center{
  text-align: center;
}
