body {
  background-color: lightblue;
}

.topmenu > li > a.active {
	color: black;
  }
  
  .topmenu a:hover {
	color: black;
	background-color: lightpink;
  }
  
  .submenu {
	position: absolute;
	min-width: 217px;
	background: pink;
	transform-origin: 0% 0%;
	transform: rotateX(-90deg);
  }
  
  .submenu li {
	position: relative;
  }
  
  .submenu li a {
	color: black;
	padding: 15px 20px;
	font-size: 15px;
  }

  
.links{
	margin-top: 200px;
	text-align: center;
  }
  
  .links a{
	color: black;
  }
  
  .playerButton{
	  fill:red;
	  fill-opacity:1;
	  stroke:red;
	  stroke-width:1px;
	  stroke-linecap:butt;
	  stroke-linejoin:miter;
	  stroke-opacity:1;
  }
  
  .playerButton:hover{
	  fill:#2c302f;
  }

  
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display:block;
  margin:auto;
  height: 250px;
}

input {
  padding: 2.5em;
  width: 10%;
}

.comment {
  margin: 2% 30%;
  padding: 2em;
  background-color: lightpink;
}

.rightmenu {
  padding: 200px 0px;
  block-size: auto;
  width: fit-content;
}

.rightmenu ul {
  background-color: pink;
  padding: 0.5em;
}

.rightmenu a {
  display: block;
  padding: 1em;
  margin: 0.5em;
  background-color: pink;
  color: black;
}

.rightmenu a:hover {
  background-color: lightpink;
}

nav.level {
  background: pink;
}

nav.level ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.level ul {
  content: "";
  display: table;
  clear: both;
}

nav.level a {
  text-decoration: none;
  display: block;
}

.topmenu > li {
  float: left;
  position: relative;
}

.topmenu > li > a {
  padding: 20px 30px;
  color: black;
}

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
}

nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
}

footer {
	text-align: center;
	margin: 5px 5%;
  }
  
.logos:hover {
	color: pink;
}

.pagination-button {
	border-radius:50%;
	width: 100px;
	height: 100px;
}